h1{
    margin-left: 540px;
    font-size: 50px;
}
img{
    margin-left: 280px;
}
h5{
    font-size: 16px;
    margin-left: 610px;
}
h4{
    font-size: 16px;
    margin-left: 630px;
}
h2{
    font-size: 35px;
    margin-left: 10px;
}
h3{
    font-size: 25x;
    margin-left: 50px;
}
  